/* sections */
section {
  background-image: url("images/field.jpg");
  background-size: cover;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
}

/* title */
.title {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.heading {
  font-family: "Kaushan Script", cursive;
  font-size: 4rem;
  font-weight: 800;
}
.winner-msg {
  font-weight: 200;
  font-size: 2rem;
}

/* dice imges */
@media screen and (max-width: 600px) {
  .first-dice-image,
  .second-dice-image {
    width: 30%;
  }
  .player-1,
  .player-2 {
    font-size: 1.5rem;
    padding:0 2rem;
  }
}
@media screen and (min-width: 600px) {
  .first-dice-image,
  .second-dice-image {
    width: 25%;
  }
  .player-1,
  .player-2 {
    font-size: 1.5rem;
    padding:0 3rem;
  }
}
@media screen and (min-width: 900px) {
  .first-dice-image,
  .second-dice-image {
    width: 15%;
  }
  .player-1,
  .player-2 {
    font-size: 1.5rem;
    padding:0 4rem;
  }
}
.first-dice-image,
.second-dice-image {
  padding: 0.5rem;
}
.player-1,
.player-2 {
  display: inline;
}
/* button */
.roll-button {
  padding-top: 3rem;
}

/* extra */

.invisible {
  visibility: hidden;
}
